.card {
    width: 90%;
    margin: auto;
    background-color: rgb(114, 109, 109);
    height: 50rem;
  }
  
  img {
    height: 50rem;
    width: 100%; /* para esticar horizontalmente */
    object-fit: cover; /* cobre sem distorcer */
  }
  
  /* Telas até 768px (celulares e tablets menores) */
 /* @media (max-width: 768px) {
    .card {
      width: 60%;
      height: 23rem;
    }
  
    img {
      height: 10rem;
    }
  }*/
  
  /* Telas entre 769px e 1199px (tablets maiores, laptops) */
  /*@media (max-width: 1199px) and (min-width: 769px) {
    .card {
      width: 80%;
      height: 35rem;
    }
  
    img {
      height: 45rem;
    }
  }*/
  /* Telas grandes (1200px até 1919px) */
/*@media (min-width: 1200px) and (max-width: 1919px) {
    .card {
      width: 80%;
      height: 50rem;
    }
  
    img {
      height: 50rem;
    }
  }*/
  /* Telas ultrawide (1920px ou mais) */
/*@media (min-width: 1920px) {
    .card {
      width: 85%;
      height: 50rem;
    }
  
    img {
      height: 50rem;
    }
  }*/